h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 1.25em;
  font-weight: normal;
}

body {
  font-family: monospace;
  color: #333;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
}
